<div id="ms365" class="flex flex-wrap justify-center">
  <div
    class="relative flex flex-col mt-6 mr-4 text-gray-700 shadow-md bg-clip-border rounded-xl"
  >
    <div class="max-w-96">
      <img
        src="../../assets/img/service support icon.png"
        alt=""
        class="h-72 w-72"
      />
      <h5
        class="block mb-2 font-sans text-white text-xl antialiased font-semibold leading-snug tracking-normal"
      >
        IT managed service
      </h5>
      <p
        class="block font-sans text-base antialiased font-light text-white leading-relaxed text-inherit"
      >
        Microsoft office, Outlook, Onedrive, Sharepoint, Planner, Teams зэрэг
        хүчирхэг программуудын нэгдэл нь танд болон танай хамт олонд хаанаас ч,
      </p>
    </div>
  </div>

  <div class="mt-16">
    <div class="grid grid-cols-2 gap-4 mt-10">
      <div
        class="flex items-center justify-center text-black h-24 bg-white rounded-md p-2 text-md font-semibold sm:m-1"
      >
        <p>Мэдээллийн аюулгүй байдлын цогц систем​</p>
      </div>
      <div
        class="flex items-center justify-center text-black h-24 bg-white rounded-md p-2 text-md font-semibold sm:m-1"
      >
        <p>Мэдээллийн аюулгүй байдлын цогц систем​</p>
      </div>
      <div
        class="flex items-center justify-center col-span-2 text-black bg-white h-24 rounded-md p-2 text-md font-semibold sm:m-1"
      >
        <p>Мэдээллийн аюулгүй байдлын цогц систем​</p>
      </div>
    </div>
  </div>
</div>
