<section id="home">
  <header>
    <div class="hero-bg border-t-2 border-gray-500">
      <div class="relative isolate overflow-hidden">
        <div
          class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]"
          aria-hidden="true"
        ></div>
        <div class="mt-[-50px] flex h-screen items-center justify-center">
          <div
            class="max-w-full flex-shrink-0 px-4 text-center lg:mx-0 lg:max-w-3xl lg:pt-8"
          >
            <h1
              class="text-7xl font-semibold sm:text-9xl text-gray-500 slide-left"
            >
              HITECH
            </h1>
            <h1 class="text-7xl sm:text-9xl text-gray-400 slide-right">
              SOLUTION
            </h1>
          </div>
        </div>
      </div>
    </div>
    <ng-content> </ng-content>
  </header>
</section>
