<div class="flex justify-center items-center mb-10">
  <div class="flex flex-wrap mx-auto">
    <div
      class="relative flex flex-col mt-6 text-gray-700 shadow-md bg-clip-border rounded-xl w-96"
    >
      <div class="p-6 border-gray-500">
        <img
          src="../../assets/img/fortinet icon.png"
          alt=""
          class="h-20 w-26"
        />
        <h5
          class="block mb-2 font-sans text-white text-xl antialiased font-semibold leading-snug tracking-normal"
        >
          Мэдээллийн аюулгүй байдлын цогц систем​
        </h5>
        <p
          class="block font-sans text-base antialiased font-light text-white leading-relaxed text-inherit"
        >
          Fortinet төхөөрөмж нь сүлжээний хамгаалалтын төхөөрөмж.Тус төхөөрөмж
          нь интернэт орчин дахь эрсдэлээс 99,9% хамгаалах чадвартай ​
        </p>
      </div>
      <div class="p-6 pt-0">
        <a href="#" class="inline-block">
          <button
            class="flex items-center gap-2 px-4 py-2 font-sans text-xs font-bold text-center uppercase bg-white text-black align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none"
            type="button"
          >
            Дэлгэрэнгүй
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </button>
        </a>
      </div>
    </div>
    <div>
      <div class="max-w-3xl rounded-lg shadow">
        <div class="p-5 flex">
          <a href="#">
            <h5 class="mb-2 text-xl w-32 font-bold text-white">
              Fortinet гэж юу вэ?
            </h5>
          </a>
          <p class="mb-3 font-normal text-white">
            Fortinet төхөөрөмж нь сүлжээний хамгаалалтын төхөөрөмж.Тус төхөөрөмж
            нь интернэт орчин дахь эрсдэлээс 99,9% хамгаалах чадвартай ​
          </p>
        </div>
        <a href="#">
          <img class="" src="../../assets/img/fortinet.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
