<div class="flex justify-center">
  <header
    class="fixed w-full navbar z-10 transition-colors duration-500"
    [class.bg-gray-900]="isScrolled"
  >
    <div
      class="md:h-16 h-28 mx-auto md:px-36 container flex items-center justify-between flex-wrap md:flex-nowrap"
    >
      <div class="text-indigo-500">
        <a class="flex" href="/">
          <img src="../../assets/img/logo.png" alt="" class="h-14 w-21" />
          <p class="text-white text-xl py-4 px-1">HITECH SOLUTION</p>
        </a>
      </div>
      <div class="text-white order-3 w-full md:w-auto md:order-2">
        <ul
          id="mobile-menu"
          class="flex font-semibold justify-between w-full md:w-auto"
        >
          <li
            (click)="tohome()"
            routerLink="/"
            routerLinkActive="activate"
            class="md:px-4 md:py-2 text-md text-white hover:text-indigo-800"
          >
            <a>Home</a>
          </li>
          <li class="md:px-4 md:py-2 text-md hover:text-indigo-800">
            <a (click)="tooutsource()" routerLinkActive="activate"> Service </a>
          </li>
          <li
            (click)="toservice()"
            routerLinkActive="activate"
            class="md:px-4 md:py-2 text-md hover:text-indigo-800"
          >
            <a>Support</a>
          </li>
          <li class="md:px-4 md:py-2 text-md hover:text-indigo-800">
            <a (click)="toggleModal()" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="order-2 md:order-3">
        <button
          class="px-4 py-2 bg-sky-600 hover:bg-indigo-600 text-gray-50 rounded-xl flex items-center gap-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          <a routerLink="/comingsoon" routerLinkActive="activate" href=""
            >E-Commerce</a
          >
        </button>
      </div>
    </div>
  </header>

  <section
    class="bg-white curtains"
    *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div
        class="relative hidden sm:block items-end px-4 pb-10 pt-60 sm:pb-16 md:justify-center lg:pb-24 bg-gray-50 sm:px-6 lg:px-8"
      >
        <div class="absolute inset-0">
          <!-- Contact image as background -->
          <img
            class="object-cover object-top w-full h-full"
            src="../../assets/img/contact img.png"
            alt=""
          />
        </div>
        <div
          class="absolute inset-0 bg-gradient-to-t from-black to-transparent"
        >
          <!-- Logo positioned at the top center -->
          <img
            class="pl-4"
            src="../../assets/img/hitech logo contact.png"
            alt=""
          />
        </div>

        <div class="relative">
          <div
            class="w-full max-w-xl xl:w-full xl:mx-auto xl:pr-24 xl:max-w-xl"
          >
            <h3 class="text-4xl font-bold text-white">
              HITECH SOLUTION build your website
            </h3>
          </div>
        </div>
      </div>

      <div
        class="flex relative items-center justify-center px-4 py-10 bg-white sm:px-6 lg:px-8 sm:py-16 lg:py-24"
      >
        <button
          type="button"
          (click)="toggleModal()"
          class="absolute-button m-4 p-2 rounded-full bg-black hover:bg-gray-300 focus:bg-gray-300 focus:outline-none"
        >
          <svg
            class="w-5 h-5 text-gray-600"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
        <div class="xl:w-full xl:max-w-sm 2xl:max-w-md xl:mx-auto">
          <h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl">
            Холбоо барих
          </h2>
          <p class="mt-2 text-base text-gray-600">
            Бид тантай 24 цагын дотор холбогдох болно. Заасан төсөвт багтаан
            брэндээ өсгөж, өсгөхөд тань хэрхэн туслах талаар дэлгэрэнгүй
            тайлбарлах болно.
          </p>

          <form action="#" method="POST" class="mt-8">
            <div class="space-y-5">
              <div>
                <form action="#" class="space-y-8">
                  <div>
                    <label
                      for="email"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Имайл</label
                    >
                    <input
                      type="email"
                      id="email"
                      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                      placeholder="name@company.com"
                      required
                    />
                  </div>
                  <div>
                    <label
                      for="subject"
                      class="block mb-2 text-sm bg-gray-300 font-medium text-gray-900 dark:text-gray-300"
                      >Subject</label
                    >
                    <input
                      type="text"
                      id="subject"
                      class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                      placeholder="Let us know how we can help you"
                      required
                    />
                  </div>
                  <div class="sm:col-span-2">
                    <label
                      for="message"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
                      >Your message</label
                    >
                    <textarea
                      id="message"
                      rows="6"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Leave a comment..."
                    ></textarea>
                  </div>
                </form>
              </div>

              <div>
                <button
                  type="submit"
                  class="inline-flex gap-4 items-center justify-center w-full px-4 py-4 text-base font-semibold transition-all duration-200 border border-transparent rounded-md focus:outline-none hover:opacity-80 focus:opacity-80"
                >
                  Хүсэлт илгээх
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                  >
                    <path
                      d="M7 7h8.586L5.293 17.293l1.414 1.414L17 8.414V17h2V5H7v2z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div
    *ngIf="showModal"
    class="opacity-25 fixed inset-0 z-40 bg-black"
    (click)="toggleModal()"
  ></div>
</div>
