<div class="flex justify-center items-center mb-10">
  <div class="flex flex-wrap mx-auto">
    <div
      class="relative flex flex-col mt-6 text-gray-700 shadow-md bg-clip-border rounded-xl w-96"
    >
      <div class="p-6">
        <img src="../../assets/img/ms365 icon.png" alt="" class="h-20 w-26" />
        <h5
          class="block mb-2 font-sans text-white text-xl antialiased font-semibold leading-snug tracking-normal"
        >
          Microsoft 365 үйлчилгээ​
        </h5>
        <p
          class="block font-sans text-base antialiased font-light text-white leading-relaxed text-inherit"
        >
          Microsoft office , Outlook , Onedrive , Sharepoint , Planner, Teams
          зэрэг хүчирхэг программуудын нэгдэл нь танд болон танай хамт олонд
          хаанаас ч, хэзээ ч харилцаа холбоо, хамтын ажиллагааг хурдтайгаар,
          өндөр бүтээмжтэйгээр удирдан явуулах дижитал ажиллах орчныг бүрдүүлэх
          болно​
        </p>
      </div>
      <div class="p-6 pt-0">
        <a href="#" class="inline-block">
          <button
            class="flex items-center gap-2 px-4 py-2 font-sans text-xs font-bold text-center uppercase bg-white text-black align-middle transition-all rounded-lg select-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none"
            type="button"
          >
            Дэлгэрэнгүй
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </button>
        </a>
      </div>
    </div>
    <div>
      <div class="max-w-3xl rounded-lg shadow">
        <div class="p-5 flex">
          <a href="#">
            <h5 class="mb-2 text-xl w-32 font-bold text-white">
              Оффис 365 гэж юу вэ?
            </h5>
          </a>
          <p class="mb-3 font-normal text-white">
            Бидний өдөр тутам хэрэглэдэг оффисын програмуудыг бусад хэрэгцээт
            програмуудтай багцалж нэгдсэн байдлаар санал болгож буй үүлэн шийдэл
            юм. Ажил, гэр гээд хаана ч, бүр гадаад томилолтоор явж байхдаа ч
            ажлаа хийх боломжтой
          </p>
        </div>
        <a href="#">
          <img class="rounded-t-lg" src="../../assets/img/ms365.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
